[submodule "libs/minhook"]
	path = libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "libs/libarchive"]
	path = libs/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "common_cmake"]
	path = common_cmake
	url = https://github.com/bl-sdk/common_cmake.git
